/* @font-face {
  font-family: 'DINPro';
  src: url('DINPro-Medium.ttf');
}

@font-face {
  font-family: 'DINPro-CondMedium';
  src: url('DINPro-CondMedium.eot');
}
} */
@font-face {
  font-family: "DIN";
  src: url(../fonts/DINPro-Medium.ttf), url(../fonts/DINPro-CondMedium.eot);
}